#profile-icon {
    font-size: 50px;
}

.nav-container {
    display: flex;
    flex-direction: column;
}
.nav-div {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 260px;
    height: 75px;
    padding: 5px;
    border: 5px solid teal;
}
